
body {
    font-family: Arial;
    padding: 20px;
    background-color: #f2f2f2;
}

.post-box textarea {
    width: 300px;
    height: 80px;
}

.post {
    background: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

button {
    margin-top: 5px;
}
